body{
	background: #ececec;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
a{
	text-decoration: none;
	color: #0b6cbc;
}
.forms{
	width: 600px;
	margin: 50px auto;
	border: 1px solid #0b6cbc;
	box-shadow: 10px 10px 10px #adadad;
}
.form{
	width: 400px;
	margin: 50px auto;
	border: 1px solid #0b6cbc;
	box-shadow: 10px 10px 10px #adadad;
}

.header{
	background-color: #0b6cbc;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
	font-size: 25px;
}

.back{
	padding-bottom: 20px;
	margin-top: -10px;
	color: #2c2c2c;
}
.f_input{
	width: 100%;
	background: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
}

.in{
	border: 1px solid #ededed;
	margin-bottom: 5px;
}

.f_button{
	width: 100%;
	background: #ededed;
	padding-top: 20px;
	padding-bottom: 20px;
}

.button{
	background: #0b6cbc;
	border: none;
	color: #fff !important;
	height: 60px !important;
	margin-bottom: 20px;
	width: 80%;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-transition: 0.3s;
}

.button:hover{
	background: #1289ea;
	cursor: pointer;
	border: none;
	color: #fff;
	width: 95%;
	
}

.footer{
	text-align: center;
	margin-top: -160px;
}
.f_input input{
	width: 85%;
	height: 35px;
	color: #000;
	padding-left: 10px;
	font-style: bold;
	font-size: 14px;
	
}
.f_button input{
	color:#fff;
	padding-left: 10px;
	font-style: bold;
	font-size: 14px;
	width: 85%;
	height: 35px;
}

::-webkit-input-placeholder {
   color: #d5d3d3;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d5d3d3;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d5d3d3;  
}

:-ms-input-placeholder {  
   color: #d5d3d3;  
}


/* style pilih menu */

.wrapper_pm{
	background: #fff;
	color: #2c2c2c;
	margin: auto;
	width: 70%;
	margin-top: 100px;
	text-align: center;
}
.nama{
	font-size: 19px;
}
.alamat{
	font-size: 15px;
	padding-right 20px;
}